body {
    background-color: black;
}

.container {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 10px;
}

.buttons  > a {
    text-decoration: none;
    text-align: center;
	display: inline-block;
    width: 120px;
	margin:5px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

#gameButton {
    text-decoration: none;
    text-align: center;
	display: inline-block;
    width: 120px;
	margin:5px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

#gameButton:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}


.buttons > a:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}